/*.fakeimg {
            height: 600px;
        }*/
.wrap {
    justify-content: space-between;
}

.logo {
    overflow: hidden;
    text-align: left;
    position: relative;
    height: 60px;
    background-color: white;
    color: #1F6C8B;
    font-family: Arial;
}

#hello_user {
    margin-left: 200px;
}


img {
    vertical-align: middle;
    border-style: none;
    border-style: groove;
}

body {
    direction: rtl;
}

.container {
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    /*max-width: initial;*/
}

/*#logo_kan {
            height: 40px;
            width: 60px;
        }*/

#cards_short {
    padding: 15px;
}

.fa {
    padding: 5px;
}

#social_card {
    text-align: center;
    padding: 5px;
}

.card-body {
    border-style: outset;
    padding: 30px;
    text-align:center;
}

#title_p {
    text-align: center;
}

#header {
    padding: 10px;
}
